{% extends 'techshopapp/base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<div class="row">
    {% for item in items %}
    <div class="card box" style="width: 20rem;">
        {% if item.image %}
            <img src="{{ item.image.url }}"
            class="card-img-top img_card" alt="{{ item.name }}">
        {% else %}
            <img src="{% static 'images/not_found_img.jpg' %}"
            class="card-img-top" alt="...">
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">
                <a href="{% url 'items:item_info' item.slug %}">{{ item.name }}</a>
            </h5>
            <p class="card-text">{{ item.description|truncatechars:55 }}</p>
            {% if item.discount %}
            <p>Значок с информацией о скидке</p>
            <div class="ribbon text-center">{{ item.discount_percent }}<br>Sale</div>
            <span>Цена: <s>{{ item.price }}</s></span>
            <span>{{ item.sell_price }}</span>
            {% else %}
            <span>Цена: {{ item.price }}</span>
            {% endif %}
            <p>id: {{ item.display_id }}</p>

            <p>Скидка: {{ item.discount }}%</p>
            <a href="#" class="btn btn-primary">Купить</a>
        </div>
    </div>
    {% endfor %}
</div>
<nav aria-label="Пример навигации по страницам">
  <ul class="pagination justify-content-center">
    <li class="page-item {% if not items.has_previous %} disabled {% endif %}">
      <a class="page-link" href="{% if items.has_previous %}
      {% url 'items:catalog' slug_url items.previous_page_number %}
      {% else %}
      #
      {% endif %}">Предыдущая</a>
    </li>
      {% for page in items.paginator.page_range %}
      {% if page >= items.number|add:-2 and page <= items.number|add:2 %}
      <li class="page-item {% if items.number == page %}
            active
            {%endif%}"><a class="page-link" href="{% url 'items:catalog' slug_url page %}">
            {{ page }}</a>
      {%endif%}
        </li>
      {% endfor %}
    <li class="page-item {% if not items.has_next %} disabled {% endif %}">
      <a class="page-link" href="{% if items.has_next %}
      {% url 'items:catalog' slug_url items.next_page_number %}
      {% else %}
      #
      {% endif %}">Следующая</a>
    </li>
  </ul>
</nav>

{% endblock %}