{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}
        <img width="500px" class="img-fluid" src="{{ item.image.url }}"
             alt="Item Image">
            <p>{{ item.name }}</p>
            <p>{{ item.description }}</p>
            {% if item.discount %}
            <p>Sale!</p>
            <span>Цена: <s>{{ item.price }}</s></span>
            <span>{{ item.sell_price }}</span>
            {% else %}
            <span>Цена: {{ item.price }}</span>
            {% endif %}
            <p>id: {{ item.display_id }}</p>


        <button type="button" class="btn btn-outline-primary" >
            <a class="link-offset-2 link-underline link-underline-opacity-0" href="{% url 'techshop:feedback_create' %}">Оставить отзыв</a>

        </button>

{% endblock %}