body{
    background-color: black;

}

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 142px; /* .push must be the same height as .footer */
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.box {
  position: relative;
  width: 400px;
  height: 450px;
  background-color: #ddd;
  overflow: hidden;
}

.img_card{
 width: 400px;
 height: 300px;
}

.ribbon {
  position: absolute;
  display: inline-block;

  top: 0.3em;
  right: 0.8em;

  max-width: 5em;

  color: #fff;

  z-index: 1;
}

.ribbon::after {
  position: absolute;
  top: -1.5em;
  right: -6em;
  content: "";

  height: 5em;
  width: 15em;

  transform: rotatez(45deg);

  background-color: red;
  z-index:-1;
}
